<div class="relative">
  <div
    (onclick)="handleOnClickRemoveBookmark()"
    class="cursor-pointer absolute flex items-center justify-center top-[10px] z-10 right-[10px] w-[30px] border-1 border-white p-1 bg-white"
  >
    <img class="w-[16px]" src="icons/bookmark-filled.png" />
  </div>
  <div
    (click)="handleOnClickMovie()"
    class="w-[225px] h-[300px] bg-red-50 relative overflow-hidden tile_container cursor-pointer"
  >
    <div class="absolute top-0 w-full h-full">
      @if (movie.Poster === "N/A" || movie.Poster == undefined) {
      <img
        class="w-[250px ] max-w-[250px] h-[300px] object-cover"
        src="images/image-not-available.png"
      />
      } @else {
      <img
        class="w-[250px] max-w-[250px] h-[300px] object-cover"
        [src]="movie.Poster"
      />
      }
    </div>
    <div
      class="overlay absolute bg-black/80 h-auto bottom-0 w-full p-2 text-gray-200"
    >
      <div class="h-full flex flex-col justify-between flex-1">
        <div>
          <p class="text-lg">{{ movie.Title }}</p>
          <p>Type: {{ movie.Type }}</p>
          <p>Released year: {{ movie.Year }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
