<div>
  <div class="flex items-center justify-center h-[52px] bg-gray-300">
    <div class="flex gap-4">
      <div>
        <a
          class="text-gray-600"
          [ngClass]="{ 'text-gray-950': isActive('/') }"
          [routerLink]="['']"
          >Home</a
        >
      </div>
      <div>
        <a
          [ngClass]="{ 'text-gray-950': isActive('/watchlist') }"
          class="text-gray-600"
          [routerLink]="['/watchlist']"
          >Watchlist</a
        >
      </div>
    </div>
  </div>
</div>
<div class="max-w-[900px] h-full ml-auto mr-auto">
  <router-outlet />
</div>
